.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid navy;
  padding: 10px;
}

.header{
  padding: 10px;
}

/* h1 { 
    color: maroon;
} */

h3 { 
  color: slategray;
}

body  {
  padding: 10px;
  background-color: white;
}

body    {
  /* padding: 5%; */
  background-image: url(table.png);
  /* background-color: whitesmoke */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
}

#calculator_base           {
  color:grey;
  padding: 10px;
  border: 2px;
  border-style: solid;
  border-color: grey;
  border-radius: 5px;
  box-shadow:5px 5px grey;
  margin: 5px;
}

h1                      {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 10px;
}

footer                  {
  padding-top: 5%;
  color: grey;
  font-size: 15px;
}

hr                      {
  width: 75%;
}

table                   {
  margin-left: auto;
  margin-right: auto;
  background-color: grey;
  border: 15px;
  border-style: solid;
  border-color: grey;
  border-radius: 10px;
}

#screen           {
  background-color: lightskyblue;
  color: blue;
  font-size: 30px;
  text-align: left;
  height: 400px;
  width: 810px;
  border-style: solid;
  border-color: black;
  border: 2px;
  border-radius: 10px;
}

#small_button_flag      {
  background-color: blue;
  color: white;
  font-size: 60px;
  text-align: left;
  vertical-align: top;
  height: 200px;
  width: 200px;
  border-style: solid;
  border-color: black;
  border: 2px;
  border-radius: 10px;
}

#small_button_cross     {
  background-color: white;
  color: blue;
  font-size: 60px;
  text-align: left;
  vertical-align: top;
  height: 200px;
  width: 200px;
  border-style: solid;
  border-color: black;
  border: 2px;
  border-radius: 10px;
}

#small_button           {
  background-color: lightgrey;
  color: grey;
  font-size: 60px;
  text-align: left;
  height: 200px;
  width: 200px;
  border-style: solid;
  border-color: black;
  border: 2px;
  border-radius: 10px;
}

#tall_button           {
  background-color: lightgrey;
  color: grey;
  font-size: 60px;
  text-align: left;
  height: 400px;
  width: 200px;
  border-style: solid;
  border-color: black;
  border: 2px;
  border-radius: 10px;
}

#long_button           {
  background-color: lightgrey;
  color: grey;
  font-size: 60px;
  text-align: left;
  height: 200px;
  width: 400px;
  border-style: solid;
  border-color: black;
  border: 2px;
  border-radius: 10px;
}